
build/windows/.vs/
.vs/
thirdparty/

build/windows/Debug/
build/windows/Release/
build/windows/x64/Release/
build/windows/x64/Debug/

src/*/Release/
src/*/Debug/
src/*/x64/Release/
src/*/x64/Debug/

src/lib/*/Release/
src/lib/*/Debug/
src/lib/*/x64/Release/
src/lib/*/x64/Debug/

build/windows/bin10/

*.vcxproj.user
